@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');
@import url('work.scss');
*,
*::before,
*::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
}
a {
        text-decoration: none;
}
ul,
ol,
li {
        list-style: none;
}
img {
        vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
        font-weight: inherit;
        font-size: inherit;
}
html{
        scroll-behavior: smooth;
}
body {
        font-family: 'Raleway', sans-serif;
        height:100%;
}
.wrapper{
        min-height: 100%;
        overflow: hidden;
}
